<launch>

<!-- Gazebo stuff -->
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="x_pos" default="0.40"/>
	<arg name="y_pos" default="0.4"/>
	<arg name="z_pos" default="0.05"/>
	<arg name="maze"  default="maze2" />

<!-- TF -->
	<node pkg="tf" type="static_transform_publisher" name="camera_tf" args="-1.95 -0.55 2.0 -1.58 0 -1.58 /odom /camera_link 100"/>

<!-- TurtleBot stuff for Gazibo -->
	<env name="GAZEBO_MODEL_PATH" value="$(find RBE3002_template)/models:$(optenv GAZEBO_MODEL_PATH"/>
	<include file="$(find rbe3002-turtlebot)/launch/turtlebot3002_world.launch">
		<arg name="world_name" value="$(find RBE3002_template)/worlds/$(arg maze).world"/>
		<arg name="x_pos" default="$(arg x_pos)"/>
		<arg name="y_pos" default="$(arg y_pos)"/>
		<arg name="z_pos" default="$(arg z_pos)"/>
		<peram name="output" value="log"/>
	</include>

<!-- RVIZ LAUNCH -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find final_rbe3002)/rviz/final_rbe.rviz"/>

<!-- Gmapping -->
	<!-- Arguments -->
		<arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
		<arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
		<arg name="set_base_frame" default="base_footprint"/>
		<arg name="set_odom_frame" default="odom"/>
		<arg name="set_map_frame"  default="map"/>

	<!-- Gmapping -->
		<node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="log">
			<param name="base_frame" value="$(arg set_base_frame)"/>
			<param name="odom_frame" value="$(arg set_odom_frame)"/>
			<param name="map_frame"  value="$(arg set_map_frame)"/>
			<rosparam command="load" file="$(find final_rbe3002)/config/gmapping_params.yaml" />
		</node>

<!-- TurtleBot3 -->
	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
		<arg name="model" value="$(arg model)" />
	</include>


<!-- AMCL -->
	<param name="~tf_broadcast"  value="false" />
	<param name="~use_map_topic"  value="false" />
	<param name="~recovery_alpha_slow"  value="0.001" />
	<include file="$(find turtlebot3_navigation)/launch/amcl.launch">
	
	</include>
  
<!-- Robot control node -->
	<node pkg="final_rbe3002" type="robot_controller_lab4.py" name="robot_controller_lab4" output="screen"/>

<!-- Path Controller node -->
	<node name="path_controller" pkg="final_rbe3002" type="path_controller.py" output="log"/>


<!-- Path Planner node -->
	<node name="path_planner" pkg="final_rbe3002" type="path_planner.py" output="log"/>

<!-- Map converter node -->
	<node name="map_converter" pkg="final_rbe3002" type="map_converter.py" output="log"/>


</launch>
